@import "style-guide";
@import "layout-style";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, svg {
    display: block;
    max-width: 100%;
}

body {
    @include flex;
    min-height: 100vh;
    margin: 0 auto;
    background-color: $Light-Grayish-Blue;
}

.card-container {
    background-color: #fff;
    margin: 1.5em;
    border-radius: 14px;

        .card {
            @include flex-col;

        .card-headline {
            font-family: $fontFamily;
            font-weight: 700;
            color: $Very-Dark-Grayish-Blue; 
            
            & p {
                padding: 2.5em 2em 0 2em;
                font-size: 1.2em;
            }
            & img {
                border-radius: 14px 14px 0 0;
                display: block;
                height: 250px;
                object-fit: cover;
                width: 800px;
            }
        }

        .card-description {
            font-family: $fontFamily;
            font-weight: 500;
            color: $Desaturated-Dark-Blue;

            & p {
                padding: 1em 0 0 2.7em;
                width: 22em;
                font-size: 14px;
                padding-bottom: 1.5em;
            }
        }

        .card-footer {
            @include flex;
            padding-block: 1em;
            border-radius: 0 0 14px 14px;
            font-family: $fontFamily;
            
        .card-footer__content {
            @include flex;
            
            & img {
                width: 50px;
                height: 50px;
            }
        }

            .card-footer__details {
                @include flex;
                gap: 1em;


                & p {
                    color: $Very-Dark-Grayish-Blue;
                    font-weight: 700;
                }
                & span {
                    color: $Desaturated-Dark-Blue;
                }

            }
            .card-footer__avatar {
                @include flex;
                gap: 2em;
                // display: none;

                & img {
                    border-radius: 100%;
                }
            }

            .card-cta__share-on {
                & img {
                    background-color: $Light-Grayish-Blue;
                    border-radius: 100%;
                    scale: 0.75;
                    cursor: pointer;
                    padding: .55em;
                    margin-right: 1em;
                    object-fit: contain;
                }
            }
            .card-cta {
                @include flex;
                gap: 1em;
                display: none;
                & span {
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    color: $Grayish-Blue;
                    font-weight: 500;
                }
                .card-cta__share-off {
                    @include flex;

                    & img {
                        background-color: $white;
                        border-radius: 100%;
                        scale: 0.75;
                        padding: .55em;
                        margin-right: 2.1em;
                        cursor: pointer;
                        object-fit: contain;
                    }
                }
                .card-cta__icons {
                    @include flex;
                    padding-left: 1em;
                    
                    & img {   
                        object-fit: contain;
                        scale: .45;
                    }
                }
            }
        }
    }
}