@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, svg {
  display: block;
  max-width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
}

.card {
  border-radius: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1.5em;
  position: relative;
  background-color: hsl(0, 0%, 100%);
}
.card .card-headline p {
  font-size: 1em;
}
.card .card-headline img {
  border-radius: 14px 14px 0 0;
  display: block;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 800px;
}
.card .card-description {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: hsl(214, 17%, 51%);
}
.card .card-description p {
  padding: 1em 0 0.25em 2.7em;
  width: 22em;
  font-size: 14px;
}
.card .card-title {
  padding: 2em 0 0.45em 2.2em;
  width: 22em;
}
.card .card-title span {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #47556b;
  font-size: 1.2em;
}
.card .card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1.5em;
  border-radius: 0 0 14px 14px;
  font-family: "Manrope", sans-serif;
}
.card .card-footer .card-footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-footer .card-footer__content img {
  width: 50px;
  height: 50px;
}
.card .card-footer .card-footer__details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-right: 1.5em;
}
.card .card-footer .card-footer__details p {
  color: #47556b;
  font-weight: 700;
}
.card .card-footer .card-footer__details span {
  color: hsl(214, 17%, 51%);
}
.card .card-footer .card-footer__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-footer .card-footer__avatar img {
  border-radius: 100%;
}
.card .card-footer .card-cta__share-on {
  position: relative;
  padding-left: 0.55em;
}
.card .card-footer .card-cta__share-on i {
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
  border-radius: 100%;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.25em;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 200ms ease-in;
}
.card .card-footer .card-cta__share-on i:hover {
  color: hsl(210, 46%, 95%);
  background-color: #47556b;
}
.card .card-footer .card-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5.5px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  top: 28.5em;
}
.card .card-footer .card-cta span {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(212, 23%, 69%);
  font-weight: 500;
}
.card .card-footer .card-cta .card-cta__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47556b;
  border-radius: 4px;
  display: none;
}
.card .card-footer .card-cta .card-cta__icons img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 35px;
  height: 35px;
  padding-inline: 0.45em;
  cursor: pointer;
  transition: all 200ms ease-in;
}
.card .card-footer .card-cta .card-cta__icons img:hover {
  transform: translateY(-2px);
}
.card .card-footer .card-cta .card-cta__icons::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #47556b;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media screen and (min-width: 400px) {
  .card .card-footer .card-footer__avatar {
    gap: 1.5em;
  }
}
@media screen and (min-width: 768px) {
  .card {
    padding-right: 2em;
  }
  .card .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card .card-title {
    padding: 0 0 0.45em 2.2em;
    width: 24em;
  }
  .card .card-title span {
    margin-bottom: -20em;
  }
  .card .card-description p {
    padding-bottom: 0.25em;
    width: 30em;
    line-height: 20px;
  }
  .card .card-headline img {
    border-radius: 14px 0 0 14px;
    width: 300px;
    height: 300px;
  }
  .card .card-footer {
    border-radius: 0;
    padding-bottom: 0;
  }
  .card .card-footer .card-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 35px;
    top: 11em;
  }
  .card .card-footer .card-footer__avatar {
    gap: 4em;
  }
  .card .card-footer .card-footer__avatar .card-cta__share-on {
    padding-left: 1em;
  }
}/*# sourceMappingURL=style.css.map */