$Very-Dark-Grayish-Blue: #47556b;
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);
$fontFamily: 'Manrope', sans-serif;
